body {

    background-color: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 29px;
    
}
h1{
background-color: azure;
color: brown;

}

p{
background-color: blueviolet;
color: slateblue;

}